<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/svg/snapLink-logo.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="CSS/style.css">
    <title>SnapLink || Page Not Found</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-87SCLX31FD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-87SCLX31FD');
    </script>
</head>

<body>
    <%- include('partials/_header.ejs') %>
        <div class="container page_404_main">
            <!--<div class="circle"></div>-->
            <div class="container mob-layout">
                <div class="page_404_img">
                    <img src="IMG/404.svg" alt="Error 404 page not found! " class="img-fluid">
                </div>
                <div class="content">
                    <h2>Page Not Found!</h2>
                    <!-- <span class="url_id">
                    </span> that you're looking for not found! -->
                    <span>Opss! The Page That You Looking For Not Found!</span>
                    <button type="button" class="btn btn-404"><a href="/">Go Home</a></button>
                </div>
            </div>
            <!--<div class="circle-shape"></div>-->
        </div>
        <%- include('partials/_footer.ejs') %>