<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/svg/snapLink-logo.svg" />
    <!-- BOOTSTRAP 4 CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- BOX ICONS CSS (CDN) -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- ReCaptcha V2 -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- OWN CSS FILE -->
    <link rel="stylesheet" href="/CSS/style.css">
    <title>SnapLink | Verify Token</title>
</head>

<body style="position: relative;">
    <!--SIDE CIRCLE EFFECT-->
    <div class="left-side-circle"></div>
    <div class="right-side-circle"></div>
    <!-- HEADER -->
    <%- include('partials/_header.ejs') %>
        <main class="container verify_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- SVG ILLUSTRATION VERIFY ICON SECTION-->
                        <div class="verify-illustration-wrapper d-flex justify-content-center align-items-center">
                            <img src="/svg/verify-access.svg" alt="Verify Access SVG" class="img-fluid">
                        </div>
                        <form id="verify_token_form" class="verify-form-area d-flex justify-content-center align-items-center flex-column">
                            <!--<input type="hidden" name="id" value="" id="user_id">-->
                            <div class="form-group w-50">
                                <input type="text" class="form-control" id="access_token" placeholder="Verify Your Token Access">
                            </div>
                            <button type="submit" class="btn verify-btn" id="verify-btn" data-tilt="">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!--<script>
            function GET_COOKIE() {
                // PLAN TO PARSE COOKIES
                const allCookies = document.cookie.split(';')[1];
                const uid_cookie = allCookies.substring(5);
                //console.log(uid_cookie4);
                return uid_cookie;
            }

            // FINAL UID COOKIE
            const UID_COOKIE = GET_COOKIE();
            console.log('FINAL UID COOKIE: ' + UID_COOKIE)
            const Verify_Token_Form = document.getElementById('verify_token_form');
            Verify_Token_Form.insertAdjacentHTML('afterBegin', `<input type="hidden" id="uid" value="${UID_COOKIE.trim()}">`);
        </script>-->
        <!-- SWEET ALERT JS (CDN) -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="JS/cookie.helper.js"></script>
        <%- include('partials/_footer.ejs') %>