<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/svg/snapLink-logo.svg" />
    <!-- Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Slick Carousel CSS (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <!-- DISPLAY ALL ADS  -->
    <script src="/JS/APIs/get_ads_api.js" async></script>
    <!-- Own CSS File -->
    <link rel="stylesheet" href="../../CSS/style.css">
    <title>SnapLink || Ads Manager</title>
</head>
<body>
    <!-- START NAVBAR SECTION -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top px-5">
        <a class="navbar-brand" href="/">
            <!--<i class='bx bxl-nodejs'></i>-->
            <img src="/svg/snapLink-logo.svg" alt="SnapLink Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Social Media
                    </a>
                    <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.facebook.com/rida.momo.3367/" target="_blank"><i
                                class='bx bxl-facebook'> </i> Facebook</a>
                        <a class="dropdown-item" href="https://www.instagram.com/mounirbr24/" target="_blank"><i
                                class='bx bxl-instagram'> </i> Instagram</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.youtube.com/channel/UCPxXadNk_tTpmqc8DAr3Mfw"
                            target="_blank"><i class='bx bxl-youtube'> </i> YouTube channel</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">support</a>
                </li>
            </ul>
        </div>
        <!-- USER PROFILE -->
        <!-- <div class="user__profile">
                <img src="/svg/user.png" alt="User_Profile" class="img-fluid">
            </div> -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown dropleft">
                <a class=" nav-link dropdown-toggle dropleft" href="#" id="navbarDropdown" role="link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/svg/user.png" alt="User_Profile" class="img-fluid">
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item d-flex justify-content-start align-items-center"><i
                            class='bx bx-user'></i>Admin: FOUZIA31</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/admin-panel"><i
                            class='bx bxs-dashboard'></i>Dashboard</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/urls-list"><i
                            class='bx bx-link'></i>Urls List</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/blogs"><i
                            class='bx bxl-blogger'></i>Blogs</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/admin/ads-manager"><i class='bx bxs-bar-chart-alt-2'></i>Compaigns</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center"
                        href="/admin/logger/download"><i class='bx bx-file'></i>Download Logger</a>
                    <a class="dropdown-item d-flex justify-content-start align-items-center" href="/sign-out"><i
                            class='bx bx-log-out-circle'></i>Log out</a>
                </div>
            </li>
        </ul>
    </nav>
    <main class="container-fluid mngr-dash-section">
        <div class="container">
            <!-- ROW ONE -->
            <div class="row mx-auto w-100 mb-4">
                <div class="col-md-4">
                    <div class="pannel_box" data-tilt>
                        <div class="pannel__content text-center">
                            <!-- PANNEL LABEL -->
                            <span class="pannel_label">Total Amount</span>
                            <span class="pannel_number">
                                $19.99
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pannel_box" data-tilt>
                        <div class="pannel__content text-center">
                            <!-- PANNEL LABEL -->
                            <span class="pannel_label">Total Clicks</span>
                            <span class="pannel_number">
                                1739
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pannel_box" data-tilt>
                        <div class="pannel__content text-center">
                            <!-- PANNEL LABEL -->
                            <span class="pannel_label">Ads Active</span>
                            <span class="pannel_number">
                                6
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW TWO -->
            <div class="row w-100 mb-4">
                <div class="col-md-6">
                    <h2 class="dash_label mx-auto">New Compaign</h2>
                    <div class="dash-side-left w-100">
                        <form id="ad-mngr-form" class="ads-form-area">
                            <div class="container">
                                <!-- ROW 1 -->
                                <div class="form-row w-100">
                                    <div class="form-group col-md-12 mb-3">
                                        <!--<label for="ad-title">Ad Name</label>-->
                                        <input type="text" class="form-control ad-title" name="ad-title" id="ad-title" placeholder="Enter AD Title">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <!--<label for="ad-period">AD Period</label>-->
                                        <input type="date" class="form-control" name="ad-period" id="ad-period" placeholder="Enter AD Period">
                                    </div>
                                </div>
                                <!-- ROW 2 -->
                                <div class="form-row w-100 mx-auto mb-3">
                                    <div class="form-group col-md-12 mb-3">
                                        <!--<label for="ad-budget">AD Budget</label>-->
                                        <input type="number" class="form-control" name="ad-budget" min="1" max="60" id="ad-budget" placeholder="Enter AD Budget">
                                    </div>
                                    <div class="custom-file col-md-12">
                                        <input type="file" name="ad-banner" class="custom-file-input" id="ad-banner">
                                        <label class="custom-file-label" for="ad-banner">Choose Banner</label>
                                    </div>
                                </div>
                                <!-- ROW 3 -->
                                <div class="form-row w-100 mx-auto mb-3">
                                    <div class="form-group col-md-12 mb-3">
                                        <select name="ad-size" class="custom-select">
                                            <option value="720x90">720x90</option>
                                            <option value="468x60">468x60</option>
                                            <option value="320x50">320x50</option>
                                        </select>
                                        </div>
                                        <div class="custom-file col-md-12">
                                            <!--<label for="ad-owner">Ad Owner</label>-->
                                            <input type="text" class="form-control ad-owner" name="ad-owner" id="ad-owner" placeholder="Enter AD Owner">
                                        </div>
                                    </div>
                                    <!-- ROW 4 -->
                                    <div class="form-row W-100 mb-3">
                                        <div class="form-group col-md-12 mb-3">
                                            <!--<label for="ad-email">AD E-mail</label>-->
                                            <input type="email" class="form-control" name="ad-email" id="ad-email" placeholder="Enter AD E-mail">
                                        </div>
                                        <div class="custom-file col-md-12">
                                            <!--<label for="ad-url">Ad URL</label>-->
                                            <input type="text" class="form-control ad-url" name="ad-url" id="ad-url" placeholder="Enter AD URL">
                                        </div>
                                    </div>
                                    <button type="button" id="ad-form-btn" class="btn ad-form-btn">Add Compaign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ANALYTICS DASHBOARD -->
                    <div class="col-md-6">
                        <h2 class="dash_label mx-auto">Ads Analytics</h2>
                        <div class="dash-side-right">
                            <canvas id="ads-chart-pie" width="100%" height="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row mx-auto">
                    <!-- PLANS REQUEST TABLE -->
                    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column">
                        <h2 class="dash_label mx-auto">Pending Compagins (Unactive)</h2>
                        <div class="pending_compaigns_area w-75">
                            <table class="table table-striped mt-5 text-center">
                                <thead class="thead-bg">
                                    <tr>
                                        <th scope="col">Ad Title</th>
                                        <th scope="col">Ad Budget</th>
                                        <th scope="col">Ad period</th>
                                        <th scope="col">Owner Name</th>
                                        <th scope="col">Owner E-mail</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Download Banner</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="pending_ads_body_row">
                                    <!--<tr>
                                        <td>
                                            <span class="compaign-title">SnapLink - Short URLs Service</span>
                                        </td>
                                        <td>
                                            <span class="compaign-budget">$10.99</span>
                                        </td>
                                        <td>
                                            <span class="compaign-period">
                                            21/10/2021
                                        </span>
                                        </td>
                                        <td>
                                            <span class="compaign-owner">
                                            Delary fulton
                                        </span>
                                        </td>
                                        <td>
                                            <span class="compaign-email">
                                            Delary@gmail.com
                                        </span>
                                        </td>
                                        <td>
                                            <span class="compaign-status">
                                            <span class="badge badge-rounded pending-badge">Pending</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="compaign-banner">
                                            <a href="" style="text-decoration: none;" download="" class="download_banner_btn"><i class='bx bx-cloud-download'></i></a>
                                        </span>
                                        </td>
                                        <td>
                                            <div class="compaign-actions">
                                                <a href="" data-id="" class="action_btn">
                                                    <i class='bx bx-x'></i>
                                                </a>
                                                <a href="" data-id="" class="action_btn">
                                                    <i class='bx bx-check-double'></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <!-- ROW THREE -->
                <div class="row mx-auto">
                    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column">
                        <h2 class="dash_label mx-auto"> All Active Compaigns</h2>
                        <div class="ads-mngr-table-displayer w-75">
                            <table class="table table-striped mt-5 text-center">
                                <thead class="thead-bg">
                                    <tr>
                                        <th scope="col">AD Title</th>
                                        <th scope="col">AD Amount</th>
                                        <th scope="col">AD Date</th>
                                        <th scope="col">AD Clicks</th>
                                        <th scope="col">AD Owner</th>
                                        <th scope="col">AD Banner</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="ads_body_row">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--CHART ANIMATION JS (CDN) -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- jQuery JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- SWEET ALERT JS (CDN) -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/JS/chart_data.js"></script>
        <script src="/JS/APIs/create_ad_api.js"></script>
        <script src="/JS/APIs/get_ads_api.js"></script>
        <%- include('../partials/_footer.ejs') %>
